import React, { useState } from 'react'

interface {{pascalCase name}} {

}

const {{pascalCase name}}: React.FunctionComponent<{{pascalCase name}}> = ({}) => {
  const [state, setState] = useState(null)
  return (
    <>
      <div>

      </div>
    </>
  )
}

export default {{pascalCase name}}
